<div class='content'>
  <h2>tmpoWebAnimate <span>[Directive]</span></h2>
  <p>A wrapper on WebAnimations API</p>

  <app-example1></app-example1>

  <hr>

  <h2>tmpo-groupAnimate <span>[Component]</span></h2>
  <p>Syncronize groups of animations, with staggered properties</p>
  <br />
  <button (click)="rand()">Randomize</button>
  <tmpo-groupAnimate *ngIf="active"
    stagger="100"
    [keyframes]="[{opacity: 0}, {opacity: 1}]"
    [animProps]="{duration: 400}">
    <app-example2
      *ngFor="let item of [1,2,3,4,5]"
      tmpoWebAnimate></app-example2>
  </tmpo-groupAnimate>




</div>
