/* You can add global styles to this file, and also import other style files */


@import "scss/reset";



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #eaeaea;
}


.wrap {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}


nav {
  li { list-style: none }
}


.content {
  margin: 80px 20px 30px 20px;
  color: #666;

  h2 {
    font-size: 20px;
  }

  p {
    line-height: 24px;
  }

  ul {
    padding-top: 30px;
  }

  li {
    line-height: 26px;
  }

  p.small {
    margin-top: 24px;
    font-size: 12px;
  }

}
