<nav>
  <h1 [routerLink]="['']">TMPO</h1>
  <div class="burger-menu"
    (click)="open()"
    [ngClass]="{'open': (opened === true)}">
    <div class="burger"></div>
  </div>
  <div class="menu" *ngIf="opened">
    <svg>
      <svg:circle cx="calc(100% - 35px)"
        cy="40px" r="2%" fill="rgba(255,255,255,1)"
        tmpoAnimatedSvg="1"
        [toProps]="toProps"
        />
    </svg>
    <ul (click)="open()">
      <li
        [routerLink]="['animated']"
        tmpoStaggered="100"
        >Animate Module</li>
      <li
        [routerLink]="['staggered']"
        tmpoStaggered="100"
        >Staggered directive</li>
      <li
        tmpoStaggered="200"
        [routerLink]="['sortable']">Sortable directive</li>
      <li
        tmpoStaggered="300"
        [routerLink]="['tween']">Tween Service</li>
      <li
        tmpoStaggered="400"
        [routerLink]="['spritesheet']">SpriteSheet Component</li>
      <li
        tmpoStaggered="500"
        [routerLink]="['writer']">Txt Writer Component</li>
      <li
        tmpoStaggered="600"
        [routerLink]="['backdrop']">Animated Backdrop</li>
      <li
        tmpoStaggered="700"
        [routerLink]="['experiment']">Demo Transitions</li>
      <li
        tmpoStaggered="700"
        [routerLink]="['experiment2']">Experiment2</li>
    </ul>
  </div>
</nav>
