

:host {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
}


.burger-menu {
  display: inline-block;
  position: absolute;
  z-index: 10000;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.burger {

  position: absolute;
  background: #4b5159;
  width: 100%;
  height: 2px;
  top: 19px;
  right: 0;
  margin-top: 0;
  opacity: 1;

  &:after {
    top: 10px;
    position: absolute;
    background: #4b5159;
    width: 30px;
    height: 2px;
    content: "";
    display: block;
  }

  &:before {
    bottom: 10px;
    position: absolute;
    background: #4b5159;
    width: 30px;
    height: 2px;
    content: "";
    display: block;
  }
}

.burger:after, .burger:before, .burger {
    transition: all 0.3s ease-in-out;
}

.open .burger {
  background: rgba(75,81,89,0);

  &:before {
    transform: rotate(45deg);
    bottom: 0px;
  }
  &:after {
    transform: rotate(-45deg);
    top: 0px;
  }
}

h1 {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 99999;
}

ul {

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}


li {
  text-transform: uppercase;
  font-family: 24px;
  line-height: 46px;
  border-bottom: 1px solid #eaeaea;
  padding-left: 20px;
  opacity: 0;
  perspective: 1000px;
  transform: translate3d(2%, 0, -10%);
  transition: all 0.6s ease-in;

  &.tmpoIn {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

.menu {
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  position: absolute;

}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  circle {
    transition: all 0.6s ease-in-out;
  }
}


